* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: sans-serif;
}

h2,
h3 {
  font-weight: 400;
}

p {
  padding: 20px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}

.row {
  width: 100%;
  padding: 10px;
  margin: 20px;
}

.image-container {
  width: 50%;
  object-fit: contain;
  object-position: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}

img {
  width: 100px;
  height: auto;
  padding: 50px;
  margin: 20px;
  object-fit: contain;
  object-position: center;
  justify-content: center;
}

.column-third {
  flex-basis: calc(100% / 3);
  object-fit: contain;
  object-position: center;
  justify-content: center;
}

.pokemon-card {
  width: 100%;
  height: auto;
  padding: 25px;
  border: 1px solid rgb(199 199 199);
  border-radius: 3px;
  box-shadow: 0 6px 6px -4px rgb(0 0 0 / 30%);
}

.pokemon-card-text {
  padding: 15px;
}

.pokemon-card h2 {
  margin-top: 0;
}

.pokemon-card h3 {
  color: rgb(133 133 133);
}

.pokemon-card > img {
  width: 100%;
  padding: 0;
  background-color: rgb(210 210 210);
}

@media only screen and (max-width: 500px) {
  /* For tablets: */
  .main {
    width: 50%;
    padding: 0;
  }
}
