body {
  font-family: Avenir, "Tiempos Headline", sans-serif;
  margin: 0 auto;
  font-size: 1.5 rem;
}

header {
  font-size: 2rem;
}

p,
dl,
dt,
dd,
a {
  font-size: 1.2rem;
  text-decoration: none;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4 rem;
}

nav {
  margin: 10px;
  padding: 10px;
  justify-content: flex-end;
  align-items: right;
  text-decoration: none;
  color: #c7c7c7;
}

.container {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 20px;
}

div {
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
}

.row {
  display: flex;
  width: inherit;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
}

.column {
  flex: 1;
  align-items: left;
}

img {
  width: 150px;
  height: 0 auto;
}

.bg-img {
  align-content: stretch;
  justify-content: center;
  background-image: url("images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.duo {
  width: 300px;
}

.button {
  width: 120px;
  height: auto;
  padding: 15px;
  border-radius: 10%;
  color: white;
  font-size: 1.1rem;
  background-color: #2f4361;
}

.align-center {
  align-items: center;
}

.center {
  text-align: center;
}

.width-third {
  width: calc(100% /3);
}

.white-text {
  color: white;
}

.light-grey-text {
  color: #c7c7c7;
}

.grey-text {
  color: grey;
}

.bg-grey {
  background-color: grey;
}

.bg-gray {
  background-color: lightgray;
}
